.bordered {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.body-bordered {
  margin-left: 150px;
  margin-right: 150px;
}

.card{
  background-color: #f3d2be;
}

.custom-font {
  font-family: 'Fira Sans', sans-serif; !important
}

.card-header{
  background-color: #f3d2be;
}

.card-link{
  color: black;
}

.icon {
  color: black;
}

.icon:hover {
  color: #6c757d;
}

.list-group-item{
  background-color: transparent;
}

@media (min-width: 576px) {
    .card-columns {
        column-count: 1;
    }
}

/* 768px prior */
@media (min-width: 600px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 3;
    }
}

body {
  background-color: #f3e0be; //Vanilla Custard
}

ion-icon{
  font-size: 64px;
  fill: black; !important
}
