.custom-font {
  font-family: 'Fira Sans', sans-serif; !important
}

.bordered {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.card-img-top{
}

.card{
  background-color: #f3d2be;
}

.card-header{
  background-color: #f3d2be;
}

.card-link{
  color: black;
}

.jumbotron{
  background-color: #f3d2be;
  text-align: center;
}

body {
  background-color: #f3e0be; //Vanilla Custard
  /* background-color: #ff6f61; //Living Coral */
}
